/* element selectors */

.profile-container {
    text-align: center;
    margin-top: 50px;
}
.profile-container img {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
}

p {
    font-size: 16px;
}

.often {
    background-color: #FFFDD0;
    background-size: auto;
}

.week2 {
    border: solid;
    border-color: black;
    border-width: 5px;
    position:relative;
    left: 20px;
    font-size: 20px;
}

#unique {
    border-width: 5px;
    border-color: pink;
    font-style: italic;
}

.fixed-element {
    background-color: black;
    color: pink;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.absolute-element {
    background-color: black;
    padding: 10px 20px;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    color:white;
}